.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    z-index: 1;
    display: none;
}
.loader{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.user-data-wrapper{
    display: none;
}
.close-accord-btn{
    display: none;
}
.active .open-accord-btn{
    display: none;
}
.active .close-accord-btn{
    display: block;
}
.collection .collection-item.active .secondary-content{
    color: #26A69A;
}
.collapsible-header.active{
    color: #000;
}
.collection.collapsible .collapsible-body{
    padding-left:0;
    border-bottom: none;
    overflow: hidden;
}
.collection.collapsible .collapsible-body .follower{
    max-width: 84px;
    margin:5px;
    padding:0;
}
/*.collection.collapsible .collapsible-body .follower:nth-child(2){
    margin-left:0 !important;
}
.collection.collapsible .collapsible-body .follower:last-child{
    margin-right:0 !important;
}*/
.collection.collapsible .collapsible-body .follower .custom-avator{
    width: 80px;
    border-radius: 50%;
}